<% include header %>

<h1>Portfolio</h1>

<h2>Web Apps</h2>


<h2>Websites</h2>

<% portfolioItems.forEach(function(item) { %>
<div class="portfolio-item">
    <h3><a href="<%= item.href %>"><%= item.title %></a></h3>
    <p>
        <strong>Summary:</strong> <%= item.summary %>
        <% if (item.responsibilities) { %>
        <br/><strong>Responsibilities:</strong> <%= item.responsibilities.join(', ') %>.
        <% } %>
        <% if (item.tech) { %>
        <br/><strong>Technologies:</strong> <%= item.tech.join(', ') %>.
        <% } %>
    
    </p>
</div>
<% }) %>

<% include footer %>