<% include header %>

<div class="resume">
    <h2>Experience</h2>
    
    <% experiences.forEach(function(exp) { %>
    
        <div class="resume-item">
            <h3><%= exp.name %></h3>
            <h4><%= exp.position %></h4>
            <h5><%= exp.timeframe %></h5>
            <ul>
            <% exp.list.forEach(function(item) {%>
                <li>
                    <% if (typeof item === "string") { %>
                        <%= item %>
                    <% } else if (typeof item === "object") { %>
                        <%= item.title %>
                        <% if (item.list) { %>
                            <ul>
                            <% item.list.forEach(function(sub) { %>
                                <li><%= sub %></li>
                            <%})%>
                            </ul>
                        <% } %>
                    <% } %>
                </li>
            <% }) %>
            </ul>
        </div>
    
    <% }) %>
    
    <h2>Skills</h2>
    
    <% skills.forEach(function(skill) { %>
    
        <div class="resume-item skill">
            <p>
                <h3><%= skill.name %></h3> <span><%= skill.topics.join(",") %></span>
            </p>
            <p class="libraries">
                <% if (skill.hasOwnProperty('libraries')) { %>
                    <strong>Libraries: </strong>
                    <%= skill.libraries.join(",") %>
                <% } %>
            </p>
        </div>
    
    <% }) %>
    
    <h2>Education</h2>
    
    <p>
        <strong>Bachelor of Science, Business Management Economics</strong><br>
        University of California at Santa Cruz<br>
        Santa Cruz, CA 95066<br>
    </p>
    <!--
    Feb 2010 - July 2012
    Partner / Lead Full-Stack Developer
    Euphoric Styles LLC Santa Cruz, CA 95060
    ● Designed and developed euphoricstyles.com, a single-page web app where users can browse through music, art, and clothing to purchase, all while listening to uninterrupted music.
    ○ Integration with Authorize.net's payment gateway API (using custom-built PHP code)
    ○ The site is completely ajax-driven with no page refreshes so that music can play
    continuously while users browse
    ● Creating a login system with dashboards for admin, artists, and users of the site
    ● Integration with Great Apparel for You (GAFY), a fulfillment company that automates the
    production and shipment of apparel with custom, digitally-printed artwork: as orders come in, the site generates a CSV file specifying which design to print on what shirt and where it should be shipped. The file is then sent to GAFY where the clothing is printed and sent off to our customers.
    Jan 2008 - Dec 2009
    Web Developer Intern
    Newfront Creative San Jose, CA 95112
    ● Created various UX and UI elements of client sites using javascript, CSS, and XHTML
    ● Learned and implemented basic back-end systems using PHP and MySQL
    ￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼
    ● Produced mock-ups and wireframes for client sites in Photoshop
    Software/System Skills
    Front-End: HTML5/XHTML, CSS3, Javascript (jQuery framework), jQuery plugin development, AJAX,
    Canvas 2D API
    Database: MySQL, FileMaker Pro
    Server: Apache Web Server, Linux Shell (ssh)
    Frameworks: jQuery, jQuery UI, RequireJS, Twitter Bootstrap, Backbone.js, Underscore/Lodash, Kohana
    Programming Languages: (OOP) PHP 5, SQL, XML, Javascript Version Control: git
    Graphics/CAD: Photoshop/Illustrator (CS5), FormZ (3D)
    Education
    
    Language Skills
    Fluent in reading, writing, and speaking Spanish.
    References
    Contact information for these references available on request:
    Scott Haines
    Sr. Software Developer at Yahoo! Owner of Newfront Creative
    Bruce Perlitch
    Owner of Aircraft Covers Inc
    -->
</div>

<% include footer %>